{% extends "base.html" %}
{% block title %}Speed Reader{% endblock %}
{% block content %}
<h1>About Speed-Reader</h1>
<p style="text-align: center">
    Reading from left to right is outdated and slow. This project allows one
    to choose a file and make the words appear in one location, greatly
    increasing the speed of reading and comprehension.
</p>
<p style="text-align: center">Link to our GitHub:
    <a href="https://github.com/hplaks106/Speed-Reader" target="_blank" rel="nofollow">https://github.com/hplaks106/Speed-Reader</a>
</p>
    <!-- <p style="text-align: center">
        {{word}}
    </p> -->
{% endblock %}
