<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/foznt-awesome.min.css">
{% extends "base.html" %}

{% block content %}
<body>
    <div class="w3-center">
        <h1 class="w3-xxxlarge w3-animate-opacity">Tutorial</h1>
        <h4 class="w3-medium w3-animate-zoom">become a pro and do great things!</h4>
        <h3 class="w3-xlarge w3-animate-opacity">Get Started With These Easy Steps:</h3>
    </div>

    <!-- Text | Display -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Step 1.</h1>
                <h5 class="w3-padding-32">Navigate to the upload file page.</h5>
                <p class="w3-text-grey">
                    The navigation bar, page selection in the footer, </br> or the
                    <a href="/upload" class="w3-text-blue">Get Started</a> button on the home page are </br>
                    all excelent ways to get there.
                </p>
            </div>

            <div class="w3-third w3-center">
                <img src="static/images/step1.gif" alt="Tutorial Step 1" style="width:100%">
            </div>
        </div>
    </div>

    <!-- Display | Text -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird w3-center">
                <img src="static/images/Step2.png" alt="Tutorial Step 2" style="width:95%">
            </div>

            <div class="w3-third">
                <h1>Step 2:</h1>
                <h5 class="w3-padding-32">How to upload file.</br>What files can be uploaded?</h5>
                <p class="w3-text-grey">
                  Click the Choose File button to select any file that you want uploaded. </br>
                  We currently only accept .pdf, .txt, and .docx file types.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
