<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/foznt-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% extends "base.html" %}

{% block content %}
   <body>
       <div class="w3-center">
           <h1 class="w3-xxlarge w3-animate-opacity">Upload a File</h1>
           <h4 class="w3-animate-left">it's as easy as that!</h4>
           <h3 class="w3-small w3-animate-opacity">(We Accept .pdf, .txt, and .docx Files)</h3>
       </div>
       <form style='text-align: center' method='POST' enctype='multipart/form-data'>
           {{ form.csrf_token }}
           {{ form.pdf }}
           <button type='submit'>Upload</button>
       </form>
   </body>
{% endblock %}
